/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}


#rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 100%;
        height:10%;
	text-align: center;
	border-collapse: collapse;

}
#rounded-corner thead th.rounded-company
{
	background: #96a996 url('images/left.png') left -1px no-repeat;
}
#rounded-corner thead th.rounded-q4
{
	background: #96a996 url('images/right.png') right -1px no-repeat;
}
#rounded-corner th
{
	padding: 3%;
	font-weight: bold;
	font-size: 13px;
	color: #203e20;
	background: #96a996;
	text-align: center;        
}
#rounded-corner td
{
	padding: 2%;
	background: #cfd8cf;
	border-top: 1px solid #fff;
	color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
	background: #cfd8cf url('images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #cfd8cf url('images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
	background: #b7c5b7;
        color: #203e20;
}
